@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scroll bar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(107, 114, 128, 0.5);
  border-radius: 4px;
}


html {
  scroll-behavior: smooth;
}